{% load static %} {% load custom_filters %}
<!-- Footer Area -->
<footer id="footer" class="footer">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer">
            <h2>About Us</h2>
            <p>{{footer.about_us}}</p>
            <!-- Social -->
            <ul class="social">
              <li>
                <a href="{{footer.facebook}}"><i class="icofont-facebook"></i></a>
              </li>
              <li>
                <a href="{{footer.google}}"><i class="icofont-google-plus"></i></a>
              </li>
              <li>
                <a href="{{footer.twitter}}"><i class="icofont-twitter"></i></a>
              </li>
              <li>
                <a href="{{footer.vimeo}}"><i class="icofont-vimeo"></i></a>
              </li>
              <li>
                <a href="{{footer.pinterest}}"><i class="icofont-pinterest"></i></a>
              </li>
            </ul>
            <!-- End Social -->
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer f-link">
            <h2>Quick Links</h2>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <ul>
                  {% for page in pages|array_in_half:0 %}
                  <li>
                    <a href="/{{page.name}}/"><i class="fa fa-caret-right" aria-hidden="true"></i>{{page|parse_page_name}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <ul>
                  {% for page in pages|array_in_half:1 %}
                  <li>
                    <a href="/{{page.name}}/"><i class="fa fa-caret-right" aria-hidden="true"></i>{{page|parse_page_name}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer">
            <h2>Open Hours</h2>
            <ul class="time-sidual">
              {{footer.open_hours | safe}}
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer">
            <h2>Newsletter</h2>
            <p>
              {{footer.newsletter}}
            </p>
            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
              <input
                name="email"
                placeholder="Email Address"
                class="common-input"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your email address'"
                required=""
                type="email" />
              <button class="button"><i class="icofont icofont-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->
  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="copyright-content">
            <p>
              © Copyright 2018 | All Rights Reserved by
              <a href="#" target="_blank">h3h3</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->
