    {% load static %}
    <!-- Start Fun-facts -->
    <div id="fun-facts" class="fun-facts section overlay">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            {% for funFact in funFacts %}
            <!-- Start Single Fun -->
            <div class="single-fun">
                {% comment %} icofont-home, icofont-user-alt-3, icofont-simple-smile, icofont-table {% endcomment %}
              <i class="icofont {{funFact.icon}}"></i>
              <div class="content">
                <span class="counter">{{funFact.counter}}</span>
                <p>{{funFact.content}}</p>
              </div>
            </div>
            <!-- End Single Fun -->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!--/ End Fun-facts -->