{% load static %}
{% load custom_filters %}
<!-- Header Area -->
<header class="header">
  <!-- Topbar -->
  <!-- End Topbar -->
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="inner">
        <div class="row justify-content-between">
          <div class="col-lg-3 col-md-3 col-12">
            <!-- Start Logo -->
            <div class="logo">
              <a href="{% url 'page_client' %}"><img src="{% static 'img/logo.png' %}" alt="#" /></a>
            </div>
            <!-- End Logo -->
          </div>
          <div class="col-lg-7 col-md-9 col-12">
            <!-- Main Menu -->
            <div class="">
              <nav class="navigation">
                <ul class="nav menu justify-content-start justify-content-md-end">
                  {% for page in pages %}
                  {% if page == active_page %}
                  <li class="active text-capitalize">{% else %}</li>

                  <li class="text-capitalize">
                    {% endif %}
                    <a href="/{{page.name}}/">{{page|parse_page_name}} {% if page.get_all_subpages %}<i class="icofont-rounded-down"></i>{% endif %}</a>
                    <ul class="dropdown">
                      {% for subpage in page.get_all_subpages %}
                      <li><a href="/{{page.name}}/{{subpage.name}}">{{subpage|parse_page_name}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
            <!--/ End Main Menu -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
<!-- End Header Area -->
