{% load static %}
<!-- Start Schedule Area -->
<section class="schedule">
  <div class="container">
    <div class="schedule-inner">
      <div class="row justify-content-center">
        {% for schedule in component.get_children %}
        <div class="col-lg-4 col-md-6 col-12">
          <!-- single-schedule -->
          <div class="single-schedule first">
            <div class="inner">
              <div class="icon">
                <i class="fa {{schedule.icon}}"></i>
              </div>
              <div class="single-content">
                <span>{{schedule.heading}}</span>
                <h4>{{schedule.title}}</h4>
                <p>{{schedule.description|safe}}</p>
                <a href="#">{{schedule.button}}<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--/End Start schedule Area -->