{% load static %}
    <!-- Start Why choose -->
    <section class="why-choose section">
      {% for video in component.get_children %}
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <!-- Start Choose Left -->
            <div class="choose-left">
              <h3>{{video.heading | safe}}</h3>
              {{video.content | safe}}
            </div>
            <!-- End Choose Left -->
          </div>
          <div class="col-lg-6 col-12">
            <!-- Start Choose Rights -->
            <div class="choose-right">
              <div class="video-image">
                <!-- Video Animation -->
                <div class="promo-video">
                  <div class="waves-block">
                    <div class="waves wave-1"></div>
                    <div class="waves wave-2"></div>
                    <div class="waves wave-3"></div>
                  </div>
                </div>
                <!--/ End Video Animation -->
                <a href="{{video.videoLink}}" class="video video-popup mfp-iframe"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
            </div>
            <!-- End Choose Rights -->
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    <!--/ End Why choose -->
