{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  {% include 'base/head.html' %}

  <body>
    <!-- Preloader -->
    {% include 'components/preloader.html' %}
    <!-- Header -->
    {% include 'components/header.html' %}

    {% for component in components %}
      {% if component.isActive %}
        {% with 'components/'|add:component.class_name|add:'.html' as template_name%}
          {% include template_name with component=component %}
        {% endwith %}
      {% endif %}
    {% endfor %}

    {% include 'components/footer.html' %} {% include 'base/scripts.html' %}
  </body>
</html>
