{% extends 'layouts/base.html' %} {% block title %} Components {% endblock title %} {% block content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Components</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="/administration"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Components</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    {% for component in components %} {% include "home/component.html" with component=component.get_children child_fields=component.get_children_fields component_name=component child_model=component.childModel save_to_add=component.is_safe_to_add_new is_active=component.isActive %} 
    {% empty %}
    <div class="col card text-center">There are no components here.</div>
    {% endfor %}
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
